/* LoginPage.css */

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: rgb(171, 122, 95);
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 10px;
    color: #453227;

}

.login-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container a {
    padding: 10px 20px;
    background-color: rgb(171, 122, 95);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.login-container a:hover {
    background-color: #c5a491;
    color: #453227;
}