.img2 {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 0.25rem;
}

.name1 {
    color: rgb(16, 42, 66);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 24px;
    text-transform: capitalize;
    margin: 0 !important;
}

.price1 {
    margin: 0 !important;

    color: rgb(185, 145, 121);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 20px;
    text-transform: capitalize;
}

.description {
    color: rgb(50, 77, 103);
    font-size: 16px;
    line-height: 24px;
    max-width: 720px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}


.table2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.b-detail {
    color: white;
    background-color: rgb(171, 122, 95);
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 1.6px;
    line-height: 12px;
    text-transform: uppercase;
    padding: 4px 8px 4px 8px;
    border: none;
    border-radius: 5px;
    margin-top: -20%;
}

.column {
    display: grid;
    grid-template-columns: 0.2fr 1fr !important;
}

.list_view_container .detail_btn {
    color: white;
    background-color: rgb(171, 122, 95);
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 1.6px;
    line-height: 12px;
    text-transform: uppercase;
    padding: 4px 8px 4px 8px;
    border: none;
    border-radius: 5px;
    width: fit-content;
}

@media (max-width:1000px) {
    .list_view_container .table-vertical tr {
        flex-direction: column;
    }
}