.img1 {
    width: 100%;
    height: 175px;
    display: block;
    object-fit: cover;
}

.name {
    color: rgb(16, 42, 66);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.price {
    color: rgb(171, 122, 95);
    margin-left: 80%;
    margin-top: -13%;
}


.column_Home {
    display: grid;
    padding-bottom: 5%;
    /* grid-template-columns: 0.2fr 1fr !important; */
}



/* Category css */

.category_style {
    margin-top: 4%;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 20px;
    margin-left: 22%;
    text-transform: capitalize;
    font-size: .875rem;

}

.category_style h5 {
    font-size: 16px;
    color: rgb(16, 42, 66);
}

.active {
    border-bottom: 1px solid rgb(97, 125, 152);

}

button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 13.3333px;
    color: rgb(97, 125, 152);
    margin: 0.25em 0px;
    padding: 0.25rem 0px;
    cursor: pointer;
}

/* price */

.price_style {
    margin-left: 21%;
    margin-bottom: 1.25rem !important;
}

.price_style .Price_s {
    font-size: 16px !important;
    color: rgb(16, 42, 66) !important;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height: 20px;
}

.Rupees_style {
    color: rgb(50, 77, 103);
}

.control-form {
    width: 300px;
    margin-top: 22%;
}

.column_Home {
    display: flex;
    grid-template-columns: 200px 1fr;
}

.fixed-column {
    height: 110vh;
    flex: 0 0 auto;
    width: 220px;
    padding: 10px;
    position: sticky;
    margin-top: 2%;
    margin-left: 4%;
}

.scrolling-column {
    overflow-y: auto;
    padding: 10px;
    height: 110vh;
    width: 100%;
    margin-top: 2%;
}

.scrolling-column::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scrolling-column::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrolling-column::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: none;
}

/* grid and list view */

.view_change_btn {
    margin-top: 15px;
}

.line {
    width: 36% !important;
}

@media screen and (max-width:1170px) {
    .product_row .product_images {
        width: 50%;
        height: 50%;
    }

    .product_images {
        margin-bottom: 3%;
    }

    /* .Footer_style {
        margin-top: 15%;
    } */

    .scrolling-column {
        overflow-y: auto;
        padding: 10px;
        height: 150vh;
        width: 100%;
        margin-top: 2%;
    }

    .name {
        color: rgb(16, 42, 66);
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        margin-top: 9% !important;
    }

    .price {
        color: rgb(171, 122, 95);
        margin-left: 80%;
        margin-top: -11% !important;
    }

    .product_name_style {
        width: 20px;
    }

}

@media screen and (max-width:990px) {
    .product_row .product_images {
        width: 90%;
        height: 90%;
    }

    .name {
        color: rgb(16, 42, 66);
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        margin-top: 3% !important;
    }

    .price {
        color: rgb(171, 122, 95);
        margin-left: 80%;
        margin-top: -7% !important;
    }

}

@media screen and (max-width:750px) {
    .column_Home {
        display: block;
    }

    .scrolling-column {
        margin-top: 35% !important;
    }

    .product_images {
        margin: 0px auto !important;
    }

}

@media screen and (min-width:1500px) {
    .column_Home {
        display: flex;
        justify-content: center !important;
    }
}

@media screen and (max-width:650px) {
    .column_Home .fixed-column {
        height: 140vh !important;
    }

}

