.breadcrumb_header {
    background-color: #eaded7;
    /* min-height: 200px !important; */
    margin-top: -1%;
    display: flex;
    align-items: center;
}

.title {
    color: rgb(69, 50, 39);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 32px;
    text-transform: capitalize;
    margin-left: 3%;

}

.title1 {
    color: rgb(121, 87, 68);
}

.title1:hover {
    color: rgb(69, 50, 39);
}