.clearFilters {
    margin-left: 21%;
    margin-top: 4%;
}

.btn-c {
    background-color: rgb(187, 37, 37);
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 13.3333px;
    letter-spacing: 1.6px;
}