.fixed_style .filter-search .input_style {
    background-color: #f1f5f8;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 90%;
    height: 90%;
    border-color: transparent;
    letter-spacing: 0.1rem;
    font-size: small;
}

.fixed_style .common_space {
    margin-bottom: 1.25rem;
}

.fixed_style h5 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.25;
    text-transform: capitalize;
    font-weight: 700;
}

.fixed_style .filter-category .category-buttons {
    font-size: 13.3333px;
    font-weight: 400;
    letter-spacing: 1.6px;
}

.fixed_style .filter-company .company-filter {
    background-color: #f1f5f8;
    border-radius: 0.25rem;
    padding: 0.25rem;
    border-color: transparent;
    font-size: 13.3333px;
    font-weight: 400;
}

.fixed_style .free_shipping .checkbox_style {
    margin-left: 40px;
}

.fixed_style .btn-clear {
    background-color: #bb2525;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 13.3333px;
    letter-spacing: 1.6px;
}


