.breadcrumb_container {
    background-color: #eaded7;
    min-height: 20vh;
    display: flex;
    align-items: center;
    padding: 2rem;

     .link_head_content {
        font-size: 2rem;
        color: rgb(121, 87, 68);
        font-weight: 600;
        text-decoration: none;
        text-transform: capitalize;

        .link {
            text-decoration: none;
            color: rgb(121, 87, 68);

            &:hover {
                color: rgb(69, 50, 39);
            }
        }

        .active_link {
            text-decoration: none;
            color: rgb(69, 50, 39);
        }
    }
}

@media screen and (max-width:799px) {
    .breadcrumb_container {
        padding: 20px;
        .link_head_content {
            font-size: 23px !important;
        }
    }
}
