/* CSS Styles */
.button-link_C {
    background: rgb(171, 122, 95);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.6px;
    line-height: 21px;
    text-transform: uppercase;
}

.button-link_C:hover {
    background-color: #c5a491;
    color: #453227;
}