@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: #ab7a5f;
  animation: spinner 0.6s linear infinite;
}


.Navbar_style .nav_content {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar_style .logo_size_icon {
  width: 175px;
  margin-left: -26%;
}

.Navbar_style .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin-top: 1%;
}

.Navbar_style .nav-links a {
  text-decoration: none;
  color: rgb(50, 77, 103);
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 24px;
}

.nav-links a {
  position: relative;
}

.nav-links a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #c5a491;
}

.nav-links a:hover::before {
  width: 100%;
}



.Navbar_style .cart_login {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  width: 225px;
  list-style: none;

}

.Navbar_style .cart_login a {
  text-decoration: none;
  color: rgb(16, 42, 66);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1.6px;
}

.mob-menu-icon {
  display: none;
}

.cart_design {
  background-color: #ab7a5f !important;
  position: absolute;
  margin-top: -43px;
  margin-left: 71px;
  width: 16px;
  height: 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.75rem;
  color: white;
  padding: 12px
}


@media screen and (max-width:1000px) {
  .Navbar_style {
    padding: 20px;
  }

  .Navbar_style .cart_login,
  .Navbar_style .nav-links {
    display: none;
  }

  .mob-menu-icon {
    display: block;
  }

  .nav-links-mob {
    background-color: #fff;
    height: 250% !important;
    position: absolute;
    display: block;
    left: 0;
    top: 75px;
    width: 100%;
    list-style: none;
  }

  .nav-links-mob a {
    color: #48647f;
    text-decoration: none;
    font-size: 20px;
  }

  @media screen and (max-width:320px) {
    .Navbar_style .nav_content {
      margin-top: -9% !important;
    }

    .menu_icons {
      margin-left: 70% !important;
    }

  }

  @media screen and (max-width:600px) {
    .Navbar_style .nav_content {
      margin-top: -4%;
    }
  }
}

@media screen and (max-width:990px) {
  .Navbar_style .nav_content {
    margin-top: -4%;
  }
}