.navbar .menu li {
  list-style: none;
  margin-top: 15%;
}

.logo_size {
  width: 175px;
  margin-left: -2%;
}

.menu1 a {
  color: rgb(50, 77, 103);
  text-decoration: none;
  /* margin-left: -10%; */
}

.menu2 a {
  color: rgb(16, 42, 66);
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;

}

.cart_icon {
  margin-top: -8%;
  width: 20px;
  height: 20px;
}

.login_icon {
  margin-top: -8%;
  width: 20px;
  height: 20px;
}

.com_container {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
  padding: 5px;
}

.container {
  max-width: 1140px;
  width: 100%;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: #ab7a5f;
  animation: spinner 0.6s linear infinite;
}

.menu1 {
  position: relative;
}

.menu1::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #c5a491;
}

.menu1:hover::before {
  width: 100%;
}


.Navbar_style .nav_content {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar_style .logo_size_icon {
  width: 175px;
}

.Navbar_style .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.Navbar_style .nav-links a {
  text-decoration: none;
  color: rgb(50, 77, 103);
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 24px;
}

.Navbar_style .cart_login {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  width: 225px;
  list-style: none;

}

.Navbar_style .cart_login a {
  text-decoration: none;
  color: rgb(16, 42, 66);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1.6px;
}



.mob-menu-icon {
  display: none;
}

@media screen and (max-width:1000px) {
  .Navbar_style {
    padding: 20px;
  }

  .Navbar_style .cart_login,
  .Navbar_style .nav-links {
    display: none;
  }

  .mob-menu-icon {
    display: block;
  }

  .nav-links-mob {
    background-color: #fff;
    height: 250% !important;
    position: absolute;
    display: block;
    left: 0;
    top: 75px;
    width: 100%;
    list-style: none;
  }

  .nav-links-mob a {
    color: #48647f;
    text-decoration: none;
    font-size: 20px;
  }





}